
.btn {
    display: block;
    text-align: center;
    background: #F5170E;
    border: 1px solid #F5170E;
    color: #fff;
    width: 168px;
    height: 55px;
    border-radius: 35px;
    padding: 17px 39px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    transition: 0.4s;
    cursor: pointer;
}

/* .btn:hover {
    background: #fff;
    color: #F5170E;
} */

.btn-form-grey {
    background: #8E8E8E;
    border: 1px solid  #8E8E8E;
}

.btn-form-grey:hover{
    background: #2B2B2B;
    border: 1px solid  #2B2B2B;
    color: #fff;
}

.btn-tours {
    background: #fff;
    color: #F5170E;
    width: 135px;
    padding: 17px 29px;
}

.btn-tours:hover {
    background: #F5170E;
    color: #fff;
    width: 135px;
    padding: 17px 29px;
}