
.contacts {
    display: flex;
    flex-direction: column;
    font-style: normal;
    margin-top: 8px;
    align-items: flex-end;
}

.contacts__phone {
    font-size: 26px;
}

.contacts__schedule {
    margin-top: -9px;
    margin-right: 2px;
    position: relative;
}

.contacts__schedule:hover .dropdown {
    left: -61px;
    opacity: 1;
}

.contacts__schedule-link {
    font-size: 13px;
    text-decoration: underline;
}

.contacts__free-call {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 20px;
    margin-right: 1px;
    margin-bottom: -1px;
}