
.contacts {
    text-align: right;
    font-style: normal;
}

.contacts__phone {
    font-size: 26px;
}

.contacts__dropdown-title {
    margin-top: -7px;
    margin-right: 3px;
    font-size: 13px;
    text-decoration: underline;
}

.contacts__free-call {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 20px;
    margin-right: 1px;
    margin-bottom: -1px;
}