.dropdown {
    position: absolute;
    width: 158px;
    top: 16px;
    left: -9999px;
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer;
}

.dropdown__mode::before {
    content: "";
    width: 20px;
    height: 20px;
    background: #ededed;
    transform: rotate(45deg);
    position: absolute;
    top: -6px;
    left: 95px;
}

.dropdown__mode {
    position: relative;
    background: #ededed;
    border-radius: 4px;
    padding: 11px 17px 9px;
    color: #1E1F20;
    font-size: 13px;
    line-height: 21px;
    margin-top: 13px;
}

.dropdown__period {
    margin-bottom: 1px;
    font-weight: 700;
}

.dropdown__period-lunch {
    font-size: 0;
}

.dropdown__period-lunch .dropdown__period-time {
    font-size: 13px;
    font-weight: 600;
}