
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-no-border {
    border-top: none;
}

.footer-column {
    display: flex;
    align-items: center;
}

.footer-column-align-right {
    justify-content: flex-end;
}
