
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-column {
    display: flex;
    align-items: center;
}

.footer-column-align-right {
    justify-content: flex-end;
    padding-top: 4px;
}
