* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #001821;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

address {
    text-decoration: none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

.welcome {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: url("../img/shades.png") center no-repeat,
                url("../img/bg.png") lightgray 50% / cover no-repeat;
}

.central {
    display: flex;
    flex-direction: column;
    align-items: center;

    animation: heartBeat;
    animation-duration: 1.4s;

    /* opacity: 0; */
    /* animation: zoom 1.4s forwards; */
}

@keyframes zoom {
    
    0% {
        transform: scale(.6);
    }

    20% {
        transform: scale(1.2);
    }

    40% {
        transform: scale(0.8);
    }

    60% {
        transform: scale(1.1);
    }

    80% {
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.central__logo {
    margin-top: 136px;
}

.central__title {
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-top: -4px;
    margin-bottom: 52px;
}

.home-page-wrapper {
    background: url("../img/1.png") center top no-repeat,
                url("../img/2.png") center bottom 165px no-repeat;
}

.top {
    display: flex;
    flex-direction: column;
    min-height: 412px;
    background: url("../img/headline1.png") lightgray 50% / cover no-repeat;
}

.top-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 21px;
}

.container {
    margin: 0 auto;
    width: 1141px;
}


.inner-section {
    background: #F4F5F5;
    color: #1A1B1E;
    padding-top: 88px;
    padding-bottom: 76px;
}

.inner-section__title {
    color: #1A1B1E;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 52px;
}

.inner-section-feedback {
    padding-top: 62px;
    padding-bottom: 76px;
}

.inner-section-feedback .inner-section__title {
    margin-bottom: 57px;
}

.page-title {
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 38px;
}



