
.header {    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
}

.header__column {
    display: flex;
    align-items: center;
}

.header__column-align-right {
    justify-content: flex-end;
}