
.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-right: 20px;
}

.partners__item:nth-child(4n) {
    margin-right: 0;
}

.partners__item:nth-child(4n) .partners__link {
    justify-content: flex-end;
}

.partners__item:nth-child(4n + 1) .partners__link {
    justify-content: flex-start;
}

.partners__link {
    text-decoration: none;
    justify-content: center;
    display: flex;
    width: 270px;
    height: 129px;
    align-items: center;
    filter: grayscale(100%);
    transition: 0.4s;
}

.partners__link:hover {
    filter: grayscale(0);
}