
.service-content {
    background: #fff;
    color: #303030;
    padding-top: 98px;
    padding-bottom: 85px;
}

.services {
    margin-bottom: 64px;
}

.services__item {
    display: flex;
    align-items: flex-start;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 49px;
}

.services__item:last-child {
    margin-bottom: 0;
}

.services__img {
    width: 460px;
    margin-right: 56px;
}

.services__content {
    padding: 12px 0 18px;
}

.services__title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin: 0px 0px 29px 2px;
}

.services__text {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 35px;
}