@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #001821;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

address {
    text-decoration: none;
}

.home-page-wrapper {
    background: url("./img/1.png") center top no-repeat, url("./img/2.png") center bottom 165px no-repeat;
}

.container {
    margin: 0 auto;
    width: 1141px;
}

.header {    
    position: relative;
    height: 100px;
    margin-bottom: 96px;
}

.logo {
    position: absolute;
    display: block;
    top: 29px;
}

.menu {
    position: absolute;
    top: 39px;
    left: 164px;
}

.contacts {
    position: absolute;
    top: 27px;
    right: 0;
    font-style: normal;
    text-align: right;    
}

.menu__item {
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item:last-child {
    margin-right: 0;
}

.contacts__phone {
    font-size: 26px;
    line-height: normal;
}

.contacts__dropdown-title {
    margin-top: -7px;
    margin-right: 2px;
    font-size: 13px;
    text-decoration: underline;
}

.preview {
    width: 520px;
    margin-bottom: 246px;
}

.preview__title {
    font-size: 72px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 27px;
}

.preview__subtitle {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 31px; 
}

.btn {
    display: inline-block;
    background: #F5170E;
    border: 1px solid #F5170E;
    color: #fff;
    width: 168px;
    height: 55px;
    border-radius: 35px;
    padding: 17px 39px;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    transition: 0.4s;
}

.btn:hover {
    background: #fff;
    color: #F5170E;
}

.btn-tours {
    background: #fff;
    color: #F5170E;
    width: 135px;
    padding: 17px 29px;
}

.btn-tours:hover {
    background: #F5170E;
    color: #fff;
    width: 135px;
    padding: 17px 29px;
}

.hot-tours {
    margin-bottom: 127px;
}

.hot-tours__list {
    margin-left: -1px;
}

.hot-tours__title {
    margin-bottom: 51px;
}

.hot-tours__title-text {
    display: inline-block;
    margin-left: 2px;
    font-size: 36px;
    font-weight: 700;
}

.hot-tours__title-icon {
    display: inline-block;
    margin: 0px 0px -3px 8px;
}

.hot-tours__item {
    display: inline-block;
    vertical-align: top;
    margin-right: 23px;
    width: 362px;

    border-radius: 5px;
    overflow: hidden;
}

.hot-tours__item:last-child {
    margin-right: 0;
}

.hot-tours__img {
    display: block;
}

.hot-tours__content {
    background: #fff;
    color: #303030;
    padding: 33px 16px 26px 22px;
}

.hot-tours__subtitle {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 21px;
}

.hot-tours__options {
    margin-bottom: 24px;
}

.hot-tours__options-item {
    display: inline-block;
    vertical-align: top;
    width: 136px;
    margin-right: 14px;
}

.hot-tours__options-item:last-child {
    margin-right: 0;
}

.hot-tours__options-icon {
    display: inline-block;
    vertical-align: top;
    margin-left: 6px;
}

.hot-tours__options-text {
    display: inline-block;
    color: #666666;
    vertical-align: top;
    margin-left: 6px;
    margin-top: 2px;
    font-size: 16px;
}

.hot-tours__text {    
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 24px;
}

.hot-tours__btn-wrapper {
    margin-left: 2px;
}

.news {
    margin-bottom: 145px;
}

.news__title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 51px;
}

.news__list {
    margin-left: -1px;
    margin-bottom: 48px;
}

.news__item {
    display: inline-block;
    position: relative;
    margin-right: 21px;
    width: 557px;
    height: 394px;
    
    border-radius: 5px;
    overflow: hidden;
}

.news__item:last-child {
    margin-right: 0px;
}

.news__content {
    position: absolute;
    bottom: 10px;
    padding: 0 30px;
}

.news__date {
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 13px;
}

.news__subtitle {
    margin-left: 1px;
    margin-bottom: -3px;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

.news__descr {
    margin-left: 2px;
    font-size: 16px;
    line-height: 24px;
    height: 65px;
}

.paginator {
    text-align: center;
}

.paginator__page, .paginator__list, .paginator__item {
    display: inline-block;
}

.paginator__page {
    margin-left: 7px;
    margin-right: 21px;
    font-size: 16px;    
    line-height: 20px;
}

.paginator__item {
    margin-right: -2px;
    font-size: 16px;
    font-weight: 700;
}

.paginator__item:last-child {
    margin-right: 0px;
}

.paginator__link {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: transparent;
    color: #fff;
    border-radius: 50%;
    line-height: 32px;
    transition: 0.4s;
}

.paginator__link:hover {
    background: #fff;
    color: #F5170E;
}

.about__img {
    display: inline-block;
    vertical-align: top;
    width: 490px;
    height: 505px;
    margin-left: -1px;
    border-radius: 5px;
}

.about__content {
    display: inline-block;
    width: 785px;
    height: 455px;
    margin-top: 97px;
    margin-left: -140px;
    padding: 70px 202px 66px 81px;
    border-radius: 5px;
    background: url(./img/mountains.png);
}

.about__title {
    color: #000;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 38px;
}

.about__descr {
    color: #060606;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 42px;
}

.footer {
    position: relative;
    margin-top: 55px;
    height: 148px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .logo {
    top: 46px;
}

.footer .menu {
    top: 57px;
}

.socials {
    position: absolute;
    top: 50px;
    left: 702px;
}

.socials__item {
    display: inline-block;
    margin-right: 6px;
}

.socials__item:last-child {
    margin-right: 0;
}

.footer .contacts {
    top: 43px;
}

.contacts__free-call {
    color: #9A9A9A;
    font-size: 11px;
    line-height: 20px;
    margin-right: 1px;
    margin-bottom: -1px;
}